
<section id="profile-page" class="container-fluid">
  <nav class="flex py-2 container-fluid justify-between">
    <img class="circle" src="assets/images/Vector.png" onclick="" routerLink="/display">
    <!-- <button routerLink="/display"><i class="fa fa-arrow-left"></i></button>
    <button><i class="fa fa-bars"></i></button> -->
  </nav>
  <!--code for images!-->
  <figure class="row">
    <img style="display: block; max-width: 100%; height: auto; width: 100%; max-height: 200px; object-fit: cover"
      class="img-fluid profile-cover"
      src="assets/images/femi-surulere.jpeg"
    />
  </figure>

  <div class="profile-details" style="margin-top: -70px;">
    <img style="width: 120px; height: 120px; border-radius: 50%; object-fit: cover; border: 4px solid white;"  src="assets/images/download.jpeg" class="profile-avatar" />
    <!--code for paragraphs!-->
    <article class="profile-name text-center mb-2">
      <h4 class="mb-0">Hon. Femi Gbajabiamila</h4>
      <span class="text-green">femi@gmail.com</span><br><br><br>
    </article>
  </div>

  <article class="description">
    <p style="text-align: center;">
      <b class="text-green">Position: </b>
      House of representative member
  </p>
  <hr />
    <p style="text-align: center;">
      <b class="text-green">State: </b>
      Lagos State
    </p>
    <p style="text-align: center;">
      <b class="text-green">LGA: </b>
      Surulere I
    </p>
  <hr />
  </article>

  
  <p class="profile-description">
    Femi Gbajabiamila (born June 25, 1962, surname also spelled Gbaja-Biamila
    and Gbajabiamila) is a Nigerian lawyer. All Progressives Congress Leader,
    and House Leader of Nigeria's 8th House of Representatives. Gbaja Biamila
    attended Igbobi College in Yaba, Lagos, King William's College on the Isle
    of Man, United Kingdom, Atlanta's John Marshall Law School, United States,
    and the University of Lagos in Lagos. Gbaja Biamila was elected to the House
    in 2003, and re-elected in 2007.He represents the Surulere I constituency of
    Lagos State in the House of Representatives. He is the House's Majority
    Leader.
  </p>
  <!-- <form [formGroup]="profileForm"> formControlName="message"-->
  <div class="form-group">
    <textarea
      class="form-control mb-3"
      cols="70"
      rows="3"
      placeholder="Type your message..."
    ></textarea><br>
    <button type="submit" class="btn btn-success" style="background: #FFFFFF; margin-left: 130px; width: 90px; border-radius: 20px"><span style="color: #219653;" (click)="submitMessage()">send</span></button>
    <!-- <button type="button" class="btn btn-rounded btn-outline-success px-4">Send <i class="fa fa-send"></i></button> -->
  </div>
<!-- </form> -->
</section>





<!-- <!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title></title>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 col-sm-12">
      code for images
      <img class="img-fluid" style="width: 375px; position: absolute; height: 212px; left: 0px" src="assets/images/femi-surulere.jpeg"><br><br>
      <img src="assets/images/download.jpeg" style="width: 140px; border-radius: 50%; width: 110px; height: 110px; margin-top: 120px; position: absolute; border: 1.5px solid white;"><br>
      code for paragraphs
      <p style="margin-top: 207px; position: absolute; font-weight: bold; margin-left: 120px;">Hon. Femi Gbajabiamila<br><span style="color: green; margin-left: 20px">femi@gmail.com</span></p>
      <p style="margin-left: 50px; margin-top: 260px"><span style="color: #219653;font-weight: bold;">Position: </span>House of representative member</p>
      <p style="margin-top: 8px; margin-left: 140px"><span style="color: #219653; font-weight: bold">State: </span>Lagos State</p>
      <p style="margin-top: -9px; margin-left: 140px"><span style="color: #219653; font-weight: bold;">LGA: </span>Surulere I</p>
      <hr style="border-radius: 1px solid #F8F1F1;">
      <img class="circle" src="assets/images/Vector.png" onclick="" routerLink="/display">
      <p style="font-size: 14px; font-style: justify; width: 340px; text-align: justify; margin-top: 5px">Femi Gbajabiamila (born June 25, 1962, surname also spelled Gbaja-Biamila and Gbajabiamila) is a Nigerian lawyer. All Progressives Congress Leader, and House Leader of Nigeria's 8th House of Representatives. Gbaja Biamila attended Igbobi College in Yaba, Lagos, King William's College on the Isle of Man, United Kingdom, Atlanta's John Marshall Law School, United States, and the University of Lagos in Lagos. Gbaja Biamila was elected to the House in 2003, and re-elected in 2007.He represents the Surulere I constituency of Lagos State in the House of Representatives. He is the House's Majority Leader.</p> -->
      <!--<div class="btn-container">
      <app-readmore [text]="text" [maxLength]="100"></app-readmore>
      <button id="toggle">Read more</button>
      <button id="toggle" (click)= "readMore(el)" #el>Read more</button>
    </div>!-->
    <!-- </div><br>
    <div style="position: absolute; margin-top: 680px; width: 320px; margin-left: 30px; box-sizing: border-box;" class="form-group">
      <textarea class="form-control" cols="70" rows="3" placeholder="Type your message..."></textarea><br> <button type="button" class="btn btn-success" style="background: #FFFFFF; margin-left: 120px; width: 90px; border-radius: 20px"><span style="color: #219653;">send</span></button> -->

      
    <!--top-left padding!-->
    <!-- <div class="topnav">
    <span style="position: absolute; z-index: 4; margin-top: -2px; margin-left: 3.5px; color: green; font-size: 45px; padding: 10px; background-color: #FFFFFF; border-radius: 100%; width: 50px; height: 50px"></span>
  </div>
arrow
  <div class="topnav">
    <span style="position: absolute; z-index: 4; margin-top: -35px; margin-left: -2px; color: green; font-size: 65px; font-weight: bold;">&#8592;</span>    
  </div> -->
  <!-- </div>
</div> -->
<!-- </body>
</html>
 -->