<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title></title>
</head>
<body>
<div class="container-fluid">
<div class="row">
<div class="col-md-6" id="imageclass1">
  <!--code for images!-->
  <img class="img-fluid" style="width: 375px; position: absolute; height: 212px; left: 0px" src="assets/images/femi-surulere.jpeg"><br><br>
  <img src="assets/images/download.jpeg" style="width: 140px; border-radius: 50%; width: 110px; height: 110px; margin-top: 120px; position: absolute; border: 1.5px solid white;"><br>
  <!--code for paragraphs!-->
  <p style="margin-top: 207px; position: absolute; font-weight: bold; margin-left: 120px;">Hon. Femi Gbajabiamila<br><span style="color: green; margin-left: 20px">femi@gmail.com</span></p>
  <p style="margin-left: 50px; margin-top: 260px"><span style="color: #219653;font-weight: bold;">Position: </span>House of representative member</p>
  <p style="margin-top: 8px; margin-left: 140px"><span style="color: #219653; font-weight: bold">State: </span>Lagos State</p>
  <p style="margin-top: -9px; margin-left: 140px"><span style="color: #219653; font-weight: bold;">LGA: </span>Surulere I</p>
  <hr style="border-radius: 1px solid #F8F1F1;">
  <img class="circle" src="assets/images/Vector.png">
  <p style="font-size: 14px; font-style: justify; width: 340px; text-align: justify; margin-top: 5px">Femi Gb ajabiamila (born June 25, 1962, surname also spelled Gbaja-Biamila and Gbajabiamila) is a Nigerian lawyer. All Progressives Congress Leader, and House Leader of Nigeria's 8th House of Representatives. Gbaja Biamila attended Igbobi College in Yaba, Lagos, King William's College on the Isle of Man, United Kingdom, Atlanta's John Marshall Law School, United States, and the University of Lagos in Lagos. Gbaja Biamila was elected to the House in 2003, and re-elected in 2007.He represents the Surulere I constituency of Lagos State in the House of Representatives. He is the House's Majority Leader.</p>
  <!--<div class="btn-container">
			<app-readmore [text]="text" [maxLength]="100"></app-readmore>
			<button id="toggle">Read more</button>
			<button id="toggle" (click)= "readMore(el)" #el>Read more</button>
		</div>!-->
</div><br>
<div style="position: absolute; margin-top: 660px; width: 320px; margin-left: 30px; box-sizing: border-box;" class="form-group">
  <textarea class="form-control" cols="70" rows="3" placeholder="Type your message..."></textarea><br>
  <button type="button" class="btn btn-success" style="background: #FFFFFF; margin-left: 120px; width: 80px; border-radius: 20px"><span style="color: #219653;">send</span></button>
</div>
<!--top-left padding!-->
<!-- <div class="topnav">
		<span style="position: absolute; z-index: 4; margin-top: -2px; margin-left: 3.5px; color: green; font-size: 45px; padding: 10px; background-color: #FFFFFF; border-radius: 100%; width: 50px; height: 50px"></span>
	</div>
arrow
	<div class="topnav">
		<span style="position: absolute; z-index: 4; margin-top: -35px; margin-left: -2px; color: green; font-size: 65px; font-weight: bold;">&#8592;</span>		
	</div> -->
</div>
</div>
</body>

</html>
