.search-results > .app-user-list {
    background-color: blue;
}

.navbar-search {
    display: flex;
    padding: 1rem 1.5rem;
    width: 280px;
    margin-left: 50px;
}

/*.navbar-search > span {
    margin-left: -70px; 
    font-size: 45px; 
    margin-top: -20px;
}*/

.navbar-search input {
    flex: 1;
    width: auto;
    height: 35px;
    border-radius: 6px;
    background-color: #F4F4F4;
    text-indent: 15px;
    outline: none;
    border: none;
    box-shadow: none;
}

.top { 
    width: 50px; 
    position: absolute; 
    top: 10px; 
    left: 12px; 
}

.arrow {
   position: relative;
   top: -35px; 
   left: 15px;
   bottom: 98px;
   right: 98.5px;  
}