<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
	<div class="row">
	<div class="col-md-6">
		<img src="assets/images/femi-surulere.jpeg" class="img-fluid"><br><br>
		<strong><br>Femi Gbajabiamila<br>Representative for Surulere I federal constituency<br>House of Representatives</strong><br><br>
		<img src="assets/images/surulere-chairman.jpeg" class="img-fluid"><br><br>
		<strong>Tajudeen Ajide<br>Surulere Local Government Chairman</strong>


		
	</div>	
	</div>
	<!--<div class="col-md-6">

		
	</div>!-->
		
	</div>

</body>
</html>
