input[type="text"]{  
                text-align: center; 
    } 

.bordered {
	width: 500px;
	height: 190px;
	padding: 2.5px;
	margin-left: -20px;
	margin-top: 100px;
	border: 2px solid #F8F1F1;
}

.bordered2 {
	width: 500px;
	height: 190px;
	padding: 2.5px;
	margin-left: -40px;
	margin-top: 130px;
	border: 2px solid #F8F1F1;
}

.bordered3 {
	width: 35px;
	position: absolute;
	height: 32px;
	padding: 1px;
	margin-left: 4px;
	margin-top: -620px;
	border: 1px #F9F5F5;
	background: #F9F5F5;
}

.bordered4 {
	width: 180px;
	position: absolute;
	padding: 2px;
	height: 35px;
	margin-top: -620px;
	margin-left: 60px;
	border-radius: 10px;
	border: 1px #F4F4F4;
	background: #F4F4F4;
}