    <section class="search-page">
      <div style="position: relative;">
      <div class="navbar-search">
        <!--<span><i class="fa fa-2x fa-search"></i></span>!-->
        <!-- <span style="position: absolute; z-index: 4; margin-top: 500px; margin-left: 10px; color: green; font-size: 45px">&#8592;</span> -->
        <input type="text" placeholder="Enter Address" 
           [(ngModel)] = "address" name="address" />
      </div>
      <div class="top">
        <img src="assets/images/Rectangle.png">
    </div>
  </div>
  <div class="arrow" onclick="" routerLink="">
    <img src="assets/images/Vector.png">
  </div>

      <div class="search-list">
        <app-user-list 
          *ngFor="let person of results$ | async" 
          [person]="person">
        </app-user-list>
      </div>
    </section>