/* You can add global styles to this file, and also import other style files */
@import url('//fonts.googleapis.com/css?family=Roboto|Material+Icons');

body {
  font-family: 'Roboto';
}

/* You can add global styles to this file, and also import other style files */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

:root {
    --primary-color: #219653;
}

.text-green {
    color: var(--primary-color);
}