$primary-color: #219653;

.see-border {
	--color: red;

	&, * {
		outline: solid 1px var(--color, currentColor);
	}
}

.home-section {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wikipol_header {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: $primary-color;
	margin-bottom: 4rem;
	height: 15px;
}
 
/*styling for paragraph*/
.paragraph {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #219653;
}

.input-area {
	width: 220px;
	height: 30px;
	border-radius: 20px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F4F4F4;
	/*border: solid 1px $primary-color;*/
	margin-bottom: 2rem;
	display: flex;
	overflow: hidden;
	align-items: stretch;

	.icon-holder {
		width: 50px;
		display: flex;
		flex: 0 0 50px;
		border: none;
		background-color: #F4F4F4;
		align-items: center;
		color: $primary-color;
		justify-content: center;
		border-left: solid 1px currentColor;
		
		&:hover {
			background-color: lighten($primary-color, 80%);
		}
	}

	input {
		flex: 1;
		outline: none !important;
		border: none !important;
		text-align: center;
		background-color: #F4F4F4;

		&:focus {
			background-color: lighten($primary-color, 60%);
		}
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}