<main class="wiki-container see-borde">
  <section class="wiki-phone-view">
    <h1 class="text-center wikipol_header">Wikipol</h1>
    <section>
      <div class="input-area">
        <input type="text" name="" placeholder="Enter your address" />
        <div class="icon-holder">
          <i class="fa fa-search"></i>
        </div>
	  </div>
	  
      <p class="mb-5 paragraph text-center">
		Please enter address with a valid <br/>
		local government area
      </p>
    </section>
  </section>
</main>
