<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<!--search button and icon!-->
<div class="container">
<div class="row">
<div class="col-md-12">
	<div>
		<div class="col-sm-10" style="margin-top: 290px; margin-left: 20px;">
			<input  style="border-radius: 20px; width: 220px; background: #F4F4F4;" type="text" name="" placeholder="enter your address">
		</div>
		<div class="col-sm-2" style="margin-left: 210px; margin-top: -23px; color: #219653;">
			<i class="fa fa-search"></i>
		</div>
	</div>
	<!--vertical line!-->
	<div style="border-left: 0.7px solid #219653; height: 25px; margin-left: 215px; margin-top: -22px; position: absolute;" class="vl"></div>
<!--header!-->
<div id="wikipol_header">
	<h1 align="center">wikipol</h1><br>
</div>
<!--body content!-->
<div id="paragraph">
	<p>Please enter address with a valid local government area</p>
</div>
</div>	
</div>
</div>
</body>
</html>
