/* wikipol */
#wikipol_header {
	position: absolute;
	width:340px;
	height: 52px;
	left: 105px;
	top: -70px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #219653;
}
 
input[type="text"]{  
                text-align: center; 
    } 

/*styling for paragraph*/
#paragraph {
	position: absolute;
	width: 250px;
	height: 44px;
	left: 40px;
	top: 40px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #219653;
}

/*media queries*/


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px)

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px)

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) 

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)